@charset "UTF-8";
html {
  font-size: 10px;
}

body {
  overflow-wrap: break-word;
}

a,
a:link,
a:visited,
a:active,
a:hover,
a:hover img {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: none;
}

a:hover,
a:hover img,
.img_hover:hover {
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
}

a {
  color: #333;
}

img {
  vertical-align: bottom;
}

.img_ck {
  font-size: 0.1rem;
  line-height: 0;
}

/* clearfix (micro) */
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

/* For IE 6/7 only */
.clearfix {
  *zoom: 1;
}

div,
p {
  /*word-break: break-all;*/
}

h2,
h3,
h4,
h5,
h6,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
nav {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, nav, picture {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul,
ol,
li {
  list-style: none;
}

body,
td,
th,
input,
textarea {
  color: #333;
  font-family: "Yu Gothic", YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
}

.file {
  border-top: 1px dotted #cccccc;
  margin: 15px 0;
  padding: 10px 0 0;
  text-align: left;
}

.file .pdf {
  background: url(../images/cms/pdf.png) left center no-repeat;
  line-height: 37px;
  padding: 4px 0 0 40px;
}

.file .ppt {
  background: url(../images/cms/ppt.png) left center no-repeat;
  line-height: 37px;
  padding: 4px 0 0 40px;
}

.file .xls,
.file .xlsx {
  background: url(../images/cms/xls.png) left center no-repeat;
  line-height: 37px;
  padding: 4px 0 0 40px;
}

.file .doc,
.file .docx {
  background: url(../images/cms/doc.png) left center no-repeat;
  line-height: 37px;
  padding: 4px 0 0 40px;
}

.top-right {
  float: right;
  margin: 0px 0px 30px 30px;
}

.top-left {
  float: left;
  margin: 0px 30px 30px 0px;
}

.top-center {
  margin: 0px 0px 30px 0px;
  text-align: center;
}

.bottom-right {
  float: right;
  margin: 30px 0px 0px 30px;
}

.bottom-left {
  float: left;
  margin: 30px 30px 0px 0px;
}

.bottom-center {
  margin: 30px 0px 0px 0px;
  text-align: center;
}

.entry-container b {
  font-weight: bold;
}

.entry-container i {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

picture {
  display: block;
}

html, body {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes upanddown {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@-moz-keyframes upanddown {
  from {
    -moz-transform: translateY(0);
         transform: translateY(0);
  }
  to {
    -moz-transform: translateY(10px);
         transform: translateY(10px);
  }
}

@keyframes upanddown {
  from {
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(10px);
       -moz-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@-webkit-keyframes upanddown2 {
  from {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  to {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@-moz-keyframes upanddown2 {
  from {
    -moz-transform: translateY(-5px);
         transform: translateY(-5px);
  }
  to {
    -moz-transform: translateY(5px);
         transform: translateY(5px);
  }
}

@keyframes upanddown2 {
  from {
    -webkit-transform: translateY(-5px);
       -moz-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  to {
    -webkit-transform: translateY(5px);
       -moz-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@-webkit-keyframes ZM {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
}

@-moz-keyframes ZM {
  from {
    -moz-transform: scale(1, 1);
         transform: scale(1, 1);
  }
  to {
    -moz-transform: scale(0.8, 0.8);
         transform: scale(0.8, 0.8);
  }
}

@keyframes ZM {
  from {
    -webkit-transform: scale(1, 1);
       -moz-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(0.8, 0.8);
       -moz-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
}

@media screen and (min-width: 769px), print {
  .show_sp {
    display: none !important;
  }
  .sec_tt h2 {
    text-align: center;
    font-size: 4rem;
    line-height: 1;
    color: #98efed;
    font-weight: bold;
    padding: 45px 0;
  }
  .container {
    min-width: 1000px;
    overflow: hidden;
  }
  .row {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
  .breadcrum {
    margin-bottom: 20px;
  }
  .breadcrum_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .breadcrum_list li {
    font-size: 1.4rem;
    line-height: 28px;
    color: #000000;
    position: relative;
    font-weight: 500;
  }
  .breadcrum_list li:not(:last-child) {
    padding-right: 12px;
  }
  .breadcrum_list li:not(:last-child)::after {
    position: absolute;
    content: "\003e";
    font-size: 1.4rem;
    line-height: 28px;
    color: #000;
    top: -1.5px;
    right: -1.5px;
  }
  .breadcrum_list li:not(:first-child) {
    padding-left: 7px;
  }
  .ttl {
    width: 100%;
    height: 300px;
    z-index: 1;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
  }
  .ttl_tt {
    padding: 44px 56px;
    background: #fff;
    position: absolute;
    bottom: -65px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .ttl_tt h2 {
    font-size: 2.8rem;
    line-height: 1;
    color: #333333;
    padding: 0 10px 9px;
    border-bottom: 4px solid #fff100;
    display: inline-block;
  }
  a.btn_top {
    width: 215px;
    height: 43px;
    display: block;
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    padding-left: 0 !important;
  }
  a.btn_top.type01 {
    width: 480px;
    height: 100px;
  }
  a.btn_top.type01:hover span {
    -webkit-transform: translateY(5px);
       -moz-transform: translateY(5px);
        -ms-transform: translateY(5px);
            transform: translateY(5px);
  }
  a.btn_top.type01::after {
    -moz-border-radius: 50px;
         border-radius: 50px;
    background-color: #ca391b;
    -moz-box-shadow: 0px 5px 0px 0px rgba(173, 45, 18, 0.4);
         box-shadow: 0px 5px 0px 0px rgba(173, 45, 18, 0.4);
    bottom: 0;
  }
  a.btn_top.type01 > span {
    font-size: 3.36rem;
    position: relative;
    -moz-border-radius: 50px;
         border-radius: 50px;
    background-color: #ca391b;
    font-family: "Montserrat", sans-serif;
    line-height: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    letter-spacing: 3px;
  }
  a.btn_top.type01 > span p {
    letter-spacing: 3px;
    margin-top: 8px;
    font-size: 1.56rem;
    font-family: "Yu Gothic", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  }
  a.btn_top.type01 > span p > span {
    font-family: "Montserrat", sans-serif;
    font-size: 1.92rem;
    margin-left: 5px;
  }
  a.btn_top.type01 > span::before {
    left: 50px;
    width: 29px;
    height: 38px;
    background-image: url("/common/images/ic_tel.png");
  }
  a.btn_top.type02 {
    width: 480px;
    height: 100px;
  }
  a.btn_top.type02:hover span {
    -webkit-transform: translateY(5px);
       -moz-transform: translateY(5px);
        -ms-transform: translateY(5px);
            transform: translateY(5px);
  }
  a.btn_top.type02::after {
    -moz-border-radius: 50px;
         border-radius: 50px;
    background-color: #f39800;
    -moz-box-shadow: 0px 5px 0px 0px rgba(240, 131, 0, 0.4);
         box-shadow: 0px 5px 0px 0px rgba(240, 131, 0, 0.4);
    bottom: 0;
  }
  a.btn_top.type02 span {
    font-size: 2.8rem;
    position: relative;
    -moz-border-radius: 50px;
         border-radius: 50px;
    line-height: 100px;
  }
  a.btn_top.type02 span::before {
    width: 30px;
    height: 22px;
    left: 50px;
  }
  a.btn_top.type03 {
    width: 310px;
    height: 80px;
  }
  a.btn_top.type03:hover span {
    -webkit-transform: translateY(5px);
       -moz-transform: translateY(5px);
        -ms-transform: translateY(5px);
            transform: translateY(5px);
  }
  a.btn_top.type03::after {
    -moz-border-radius: 50px;
         border-radius: 50px;
    background-color: #0b190b;
    bottom: -5px;
  }
  a.btn_top.type03 > span {
    font-size: 3.2rem;
    position: relative;
    -moz-border-radius: 50px;
         border-radius: 50px;
    background-color: #ca391b;
    font-family: "Montserrat", sans-serif;
    line-height: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  a.btn_top.type03 > span p {
    letter-spacing: 3px;
    padding-left: 20px;
    font-size: 1.56rem;
    font-family: "Yu Gothic", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  }
  a.btn_top.type03 > span p > span {
    font-family: "Montserrat", sans-serif;
    font-size: 1.92rem;
    letter-spacing: 2px;
    margin-left: 3px;
  }
  a.btn_top.type03 > span::before {
    width: 29px;
    height: 38px;
    background-image: url("/common/images/ic_tel.png");
  }
  a.btn_top.type04 {
    width: 300px;
    height: 80px;
  }
  a.btn_top.type04:hover span {
    -webkit-transform: translateY(5px);
       -moz-transform: translateY(5px);
        -ms-transform: translateY(5px);
            transform: translateY(5px);
  }
  a.btn_top.type04::after {
    -moz-border-radius: 50px;
         border-radius: 50px;
    background-color: #0f4700;
    bottom: -5px;
  }
  a.btn_top.type04 span {
    font-size: 2.8rem;
    position: relative;
    -moz-border-radius: 50px;
         border-radius: 50px;
    line-height: 80px;
  }
  a.btn_top.type04 span::before {
    width: 30px;
    height: 22px;
    left: 30px;
  }
  a.btn_top.type04::after {
    -moz-border-radius: 50px;
         border-radius: 50px;
  }
  a.btn_top > span {
    display: block;
    width: 100%;
    height: 100%;
    -moz-border-radius: 25px;
         border-radius: 25px;
    background: #f39800;
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    line-height: 43px;
    font-weight: bold;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
  }
  a.btn_top > span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 15px;
    height: 11px;
    background: url("/common/images/ic_main.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
  }
  a.btn_top::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #e87c00;
    -moz-border-radius: 25px;
         border-radius: 25px;
    bottom: -2px;
    left: 0;
    z-index: -1;
  }
  a.btn_top::before {
    display: none;
  }
  a.btn_top:hover {
    opacity: 1;
  }
  a.btn_top:hover span {
    -webkit-transform: translateY(2px);
       -moz-transform: translateY(2px);
        -ms-transform: translateY(2px);
            transform: translateY(2px);
  }
  .header {
    background-color: #f6f2e6;
  }
  .header.fixed .header_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    min-width: 1000px;
    max-width: 100%;
    background-color: #f6f2e6;
    margin-top: 0;
    padding-right: 0;
  }
  .header.fixed .header_nav .menu {
    width: 1000px;
    margin: 0 auto;
  }
  .header.fixed .header_nav .menu li:nth-of-type(5) {
    display: block;
    margin-right: 0;
  }
  .header_top {
    background-color: #ca391b;
    height: 35px;
  }
  .header_top .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .header_top_btn {
    background-color: #fff;
    font-size: 1.2rem;
    color: #ca391b !important;
    font-weight: bold;
    -moz-border-radius: 10px;
         border-radius: 10px;
    height: 20px;
    width: 127px;
    position: relative;
    text-align: center;
    line-height: 20px;
    display: block;
  }
  .header_top_btn::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 9px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 5px;
    height: 8px;
    background: url(/common/images/header_top_btn_ic.png) center/contain no-repeat;
    display: block;
  }
  .header_mid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-top: 21px;
    margin-bottom: 16px;
  }
  .header_mid_logo {
    width: 273px;
  }
  .header_mid_logo img {
    display: block;
    width: 273px;
    height: auto;
  }
  .header_mid > p {
    position: absolute;
    left: 0;
    top: -47px;
    font-weight: bold;
    font-size: 1.3rem;
    color: #fff;
  }
  .header_mid_listlink {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-calc(100% - 273px);
    width: -moz-calc(100% - 273px);
    width: calc(100% - 273px);
  }
  .header_mid_listlink ul {
    width: 526px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 26px;
  }
  .header_mid_listlink ul li {
    width: 245px;
    height: 46px;
  }
  .header_mid_listlink ul li a {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_mid_listlink ul li a p {
    background: #cfa972;
    font-weight: 500;
    color: #fff;
    width: 188px;
    padding-left: 10px;
    padding-top: 4px;
  }
  .header_mid_listlink ul li a p > span {
    font-size: 1.2rem;
    display: block;
  }
  .header_mid_listlink ul li a p small {
    font-size: 1.1rem;
  }
  .header_mid_listlink ul li a > span {
    width: -webkit-calc(100% - 188px);
    width: -moz-calc(100% - 188px);
    width: calc(100% - 188px);
    display: block;
    background-color: #562411;
    font-size: 1.1rem;
    color: #fffefe;
    font-weight: bold;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_mid_listlink a.btn_top {
    position: absolute;
    right: 0;
    bottom: -68px;
  }
  .header_mid_tel {
    width: -webkit-calc(100% - 526px);
    width: -moz-calc(100% - 526px);
    width: calc(100% - 526px);
    text-align: right;
  }
  .header_mid_tel a {
    font-size: 2.8rem;
    font-weight: 700;
    color: #ca391b;
    font-family: "Montserrat", sans-serif;
    display: block;
    line-height: 1;
  }
  .header_mid_tel p {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1;
    margin-top: 3px;
    letter-spacing: 2px;
  }
  .header_mid_tel p span {
    margin-left: 3px;
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    line-height: 1;
  }
  .header_nav {
    min-height: 70px;
    font-size: 0;
  }
  .header_nav ul {
    height: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_nav ul li:not(:last-child) {
    margin-right: 60px;
  }
  .header_nav ul li:nth-of-type(5) {
    margin-right: 0;
  }
  .header_nav ul li a {
    font-size: 1.6rem;
    color: #000;
    font-weight: bold;
    position: relative;
    display: block;
    padding-left: 19px;
  }
  .header_nav ul li a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 9px solid #ca391b;
  }
  .footer {
    background-color: #c1c1c1;
    text-align: center;
    padding-bottom: 16px;
  }
  .footer_backtop {
    background-color: #ca391b;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 12px;
    margin-bottom: 36px;
	position:relative;
	z-index: 8;
  }
  .footer_backtop .back_top {
    cursor: pointer;
    font-size: 1.4rem;
    color: #fff;
    font-weight: bold;
    display: block;
  }
  .footer_backtop .back_top::before {
    content: '';
    width: 28px;
    height: 16px;
    background: url("/common/images/ic_ar.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: block;
    margin: 0 auto 11px;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out, -moz-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out, -moz-transform .3s ease-in-out;
  }
  .footer_backtop .back_top:hover::before {
    -webkit-transform: translateY(-5px);
       -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  .footer_link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 36px;
    margin-bottom: 37px;
  }
  .footer_link ul {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .footer_link ul li {
    margin-bottom: 10px;
    text-align: left;
  }
  .footer_link ul li:nth-of-type(1) {
    width: 120px;
  }
  .footer_link ul li:nth-of-type(4) {
    width: 120px;
  }
  .footer_link ul li:nth-of-type(2) {
    width: 220px;
  }
  .footer_link ul li:nth-of-type(5) {
    width: 220px;
  }
  .footer_link ul li:nth-of-type(3) {
    width: -webkit-calc(100% - 120px - 220px);
    width: -moz-calc(100% - 120px - 220px);
    width: calc(100% - 120px - 220px);
  }
  .footer_link ul li:nth-of-type(6) {
    width: -webkit-calc(100% - 120px - 220px);
    width: -moz-calc(100% - 120px - 220px);
    width: calc(100% - 120px - 220px);
  }
  .footer_link ul li a {
    font-size: 1.4rem;
    color: #000;
    font-weight: bold;
    position: relative;
    display: block;
    padding-left: 19px;
  }
  .footer_link ul li a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 9px solid #ca391b;
  }
  .footer_contact {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer_contact .btn_top {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer_contact_tel {
    width: -webkit-calc(100% - 215px);
    width: -moz-calc(100% - 215px);
    width: calc(100% - 215px);
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer_contact_tel a {
    font-size: 3.1rem;
    font-weight: 700;
    color: #ca391b;
    font-family: "Montserrat", sans-serif;
    display: block;
    line-height: 1;
  }
  .footer_contact_tel p {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1;
    margin-top: 3px;
    letter-spacing: 2px;
  }
  .footer_contact_tel p span {
    margin-left: 3px;
    letter-spacing: 2px;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    line-height: 1;
  }
  .footer_copyright {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
  }
}

@media screen and (max-width: 768px) {
  img {
    width: 100%;
    height: auto;
  }
  .sec_tt h2 {
    text-align: center;
    font-size: 6.66667vw;
    line-height: 1;
    color: #98efed;
    font-weight: bold;
    padding: 6vw 0;
  }
  .container {
    overflow: hidden;
  }
  .show_pc {
    display: none !important;
  }
  body {
    padding-top: 13.2vw;
  }
  .ttl {
    width: 100%;
    height: 60vw;
    z-index: 1;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    text-align: center;
  }
  .ttl_tt {
    width: 95%;
    padding: 5.33333vw;
    background: #fff;
    position: absolute;
    bottom: -8.66667vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .ttl_tt h2 {
    font-size: 5.6vw;
    color: #333333;
    border-bottom: 0.53333vw solid #fff100;
    display: inline-block;
    text-align: center;
    padding-bottom: 2vw;
  }
  a.btn_top {
    width: 72.66667vw;
    height: 13.33333vw;
    display: block;
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    padding-left: 0 !important;
    margin: 0 auto;
  }
  a.btn_top.type01 {
    width: 100%;
    height: 22.4vw;
    margin-bottom: 2.66667vw;
  }
  a.btn_top.type01::after {
    -moz-border-radius: 10.66667vw;
         border-radius: 10.66667vw;
    background-color: #ca391b;
    -moz-box-shadow: 0px 0.66667vw 0px 0px rgba(173, 45, 18, 0.4);
         box-shadow: 0px 0.66667vw 0px 0px rgba(173, 45, 18, 0.4);
    bottom: 0;
  }
  a.btn_top.type01 > span {
    font-size: 6.26667vw;
    position: relative;
    -moz-border-radius: 10.66667vw;
         border-radius: 10.66667vw;
    background-color: #ca391b;
    font-family: "Montserrat", sans-serif;
    line-height: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  a.btn_top.type01 > span p {
    margin-top: 1.06667vw;
    font-size: 2.93333vw;
    font-family: "Yu Gothic", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  }
  a.btn_top.type01 > span p > span {
    font-family: "Montserrat", sans-serif;
    font-size: 3.6vw;
    margin-left: 0.66667vw;
  }
  a.btn_top.type01 > span::before {
    left: 6.66667vw;
    width: 5.46667vw;
    height: 7.06667vw;
    background-image: url("/common/images/ic_tel.png");
  }
  a.btn_top.type02 {
    margin-bottom: 2.66667vw;
    width: 100%;
    height: 22.4vw;
  }
  a.btn_top.type02::after {
    -moz-border-radius: 10.66667vw;
         border-radius: 10.66667vw;
    background-color: #f39800;
    -moz-box-shadow: 0px 0.66667vw 0px 0px rgba(240, 131, 0, 0.4);
         box-shadow: 0px 0.66667vw 0px 0px rgba(240, 131, 0, 0.4);
    bottom: 0;
  }
  a.btn_top.type02 span {
    font-size: 5.33333vw;
    position: relative;
    -moz-border-radius: 10.66667vw;
         border-radius: 10.66667vw;
    line-height: 22.4vw;
  }
  a.btn_top.type02 span::before {
    width: 5.46667vw;
    height: 4vw;
    left: 6.66667vw;
  }
  a.btn_top.type03 {
    width: 100%;
    height: 22.66667vw;
    margin-bottom: 2.66667vw;
  }
  a.btn_top.type03::after {
    -moz-border-radius: 13.33333vw;
         border-radius: 13.33333vw;
    background-color: #0b190b;
    bottom: -0.8vw;
  }
  a.btn_top.type03 > span {
    font-size: 6.26667vw;
    position: relative;
    -moz-border-radius: 13.33333vw;
         border-radius: 13.33333vw;
    background-color: #ca391b;
    font-family: "Montserrat", sans-serif;
    line-height: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  a.btn_top.type03 > span p {
    padding-left: 2.66667vw;
    font-size: 2.8vw;
    font-family: "Yu Gothic", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  }
  a.btn_top.type03 > span p > span {
    font-family: "Montserrat", sans-serif;
    font-size: 3.6vw;
    margin-left: 0.66667vw;
  }
  a.btn_top.type03 > span::before {
    width: 5.46667vw;
    height: 7.06667vw;
    background-image: url("/common/images/ic_tel.png");
  }
  a.btn_top.type04 {
    width: 100%;
    height: 21.33333vw;
  }
  a.btn_top.type04::after {
    -moz-border-radius: 13.33333vw;
         border-radius: 13.33333vw;
    background-color: #0f4700;
    bottom: -0.8vw;
  }
  a.btn_top.type04 span {
    font-size: 2.8rem;
    position: relative;
    -moz-border-radius: 13.33333vw;
         border-radius: 13.33333vw;
    line-height: 21.33333vw;
  }
  a.btn_top.type04 span::before {
    width: 5.46667vw;
    height: 4vw;
  }
  a.btn_top.type04::after {
    -moz-border-radius: 13.33333vw;
         border-radius: 13.33333vw;
  }
  a.btn_top > span {
    display: block;
    width: 100%;
    height: 100%;
    -moz-border-radius: 8vw;
         border-radius: 8vw;
    background: #f39800;
    color: #fff;
    font-size: 5.06667vw;
    text-align: center;
    line-height: 13.33333vw;
    font-weight: bold;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
  }
  a.btn_top > span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 6.66667vw;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 5.46667vw;
    height: 3.06667vw;
    background: url("/common/images/ic_main.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
  }
  a.btn_top::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #e87c00;
    -moz-border-radius: 8vw;
         border-radius: 8vw;
    bottom: -0.53333vw;
    left: 0;
    z-index: -1;
  }
  a.btn_top::before {
    display: none;
  }
  .header {
    background-color: #f6f2e6;
  }
  .header.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 115;
  }
  .header_nav {
    position: absolute;
    top: 13.2vw;
    left: 0;
    width: 100%;
    overflow-y: auto;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    height: 0;
    background-color: #f6f2e6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    padding-bottom: 13.33333vw;
  }
  .header_nav .header_mid_listlink {
    display: block !important;
  }
  .header_nav.active {
    opacity: 1;
    visibility: visible;
  }
  .header_nav .header_mid_listlink {
    margin-top: 4.66667vw;
    padding-left: 2.66667vw;
    padding-right: 2.66667vw;
  }
  .header_nav .header_mid_listlink ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 4vw;
  }
  .header_nav .header_mid_listlink ul li {
    width: 45.33333vw;
  }
  .header_nav .header_mid_listlink ul li a {
    display: block;
    text-align: center;
  }
  .header_nav .header_mid_listlink ul li a p {
    background: #cfa972;
    font-weight: 500;
    color: #fff;
    padding: 0.93333vw 2vw;
  }
  .header_nav .header_mid_listlink ul li a p > span {
    font-size: 2.8vw;
    display: block;
  }
  .header_nav .header_mid_listlink ul li a p small {
    font-size: 2.53333vw;
  }
  .header_nav .header_mid_listlink ul li a > span {
    display: block;
    background-color: #562411;
    font-size: 2.93333vw;
    color: #fffefe;
    font-weight: bold;
    padding: 0.66667vw 2vw;
  }
  .header_nav .header_mid_tel {
    text-align: center;
    margin-top: 4vw;
  }
  .header_nav .header_mid_tel a {
    font-size: 10vw;
    font-weight: 700;
    color: #ca391b;
    font-family: "Montserrat", sans-serif;
    display: block;
    line-height: 1;
  }
  .header_nav .header_mid_tel p {
    font-size: 4.66667vw;
    font-weight: bold;
    line-height: 1;
    margin-top: 0.4vw;
  }
  .header_nav .header_mid_tel p span {
    margin-left: 0.4vw;
    font-size: 5.33333vw;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    line-height: 1;
  }
  .header_nav nav > ul li {
    border-bottom: 0.26667vw solid #ca391b;
    padding: 4.66667vw 5.33333vw;
  }
  .header_nav nav > ul li:nth-of-type(1) {
    border-top: 0.26667vw solid #ca391b;
  }
  .header_nav nav > ul li a {
    font-size: 4.26667vw;
    color: #000;
    font-weight: bold;
    position: relative;
    display: block;
    padding-left: 6vw;
  }
  .header_nav nav > ul li a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 0.93333vw solid transparent;
    border-bottom: 0.93333vw solid transparent;
    border-left: 1.86667vw solid #ca391b;
  }
  .header_mid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 13.2vw;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .header_mid_logo {
    margin-left: 2.66667vw;
  }
  .header_mid_logo img {
    display: block;
    width: 36.4vw;
    height: auto;
  }
  .header_mid > p {
    font-weight: bold;
    font-size: 2.13333vw;
    color: #000;
    padding-left: 3.6vw;
  }
  .header .menu_icon_wr {
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #ca391b;
    height: 13.2vw;
    width: 13.2vw;
  }
  .header .menu_icon_wr i {
    font-size: 2.13333vw;
    font-weight: bold;
    font-style: normal;
    color: #fff;
    margin-top: 2vw;
    line-height: 1;
  }
  .header .menu_icon_wr .menu_icon {
    width: 23px;
    height: 16px;
    background: transparent;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-size: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    position: relative;
  }
  .header .menu_icon_wr .menu_icon:before, .header .menu_icon_wr .menu_icon:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    background: #fff;
    margin-top: -1px;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    transition: -webkit-transform 0.25s ease-in-out;
    -moz-transition: transform 0.25s ease-in-out, -moz-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out, -moz-transform 0.25s ease-in-out;
  }
  .header .menu_icon_wr .menu_icon.active {
    border-color: transparent;
  }
  .header .menu_icon_wr .menu_icon.active:before {
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background: #fff;
  }
  .header .menu_icon_wr .menu_icon.active:after {
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background: #fff;
  }
  .footer {
    background-color: #c1c1c1;
    text-align: center;
    padding-bottom: 2.13333vw;
    text-align: center;
  }
  .footer_backtop {
    background-color: #ca391b;
    text-align: center;
    padding-top: 2.66667vw;
    padding-bottom: 1.6vw;
    margin-bottom: 4.8vw;
  }
  .footer_backtop .back_top {
    cursor: pointer;
    font-size: 2.93333vw;
    color: #fff;
    font-weight: bold;
    display: block;
  }
  .footer_backtop .back_top::before {
    content: '';
    width: 6.66667vw;
    height: 3.86667vw;
    background: url("/common/images/ic_ar.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    display: block;
    margin: 0 auto 1.46667vw;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out, -moz-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out, -moz-transform .3s ease-in-out;
  }
  .footer .row > a img {
    width: 58vw;
  }
  .footer_link {
    margin-top: 4.8vw;
    margin-bottom: 4.93333vw;
  }
  .footer_link ul {
    margin-bottom: 4vw;
  }
  .footer_link ul li {
    text-align: left;
    border-bottom: 0.26667vw solid #aeaeae;
    padding: 4.66667vw 6vw;
  }
  .footer_link ul li:nth-of-type(1) {
    border-top: 0.26667vw solid #aeaeae;
  }
  .footer_link ul li a {
    font-size: 4.26667vw;
    color: #000;
    font-weight: bold;
    position: relative;
    display: block;
    padding-left: 6vw;
  }
  .footer_link ul li a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 0.93333vw solid transparent;
    border-bottom: 0.93333vw solid transparent;
    border-left: 1.86667vw solid #ca391b;
  }
  .footer_contact_tel {
    margin-top: 4vw;
  }
  .footer_contact_tel a {
    font-size: 10vw;
    font-weight: 700;
    color: #ca391b;
    font-family: "Montserrat", sans-serif;
    display: block;
    line-height: 1;
  }
  .footer_contact_tel p {
    font-size: 4.66667vw;
    font-weight: bold;
    line-height: 1;
    margin-top: 0.4vw;
  }
  .footer_contact_tel p span {
    margin-left: 0.4vw;
    font-size: 5.33333vw;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    line-height: 1;
  }
  .footer_copyright {
    text-align: center;
    font-size: 2.93333vw;
    font-weight: 500;
    color: #000;
  }
}

.effect {
  transition-property: opacity,transform,-webkit-transform;
  -webkit-transition-duration: 1s;
     -moz-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease;
     -moz-transition-timing-function: ease;
          transition-timing-function: ease;
}

.fadeInUp {
  opacity: 0;
  -webkit-transform: translateY(100px);
     -moz-transform: translateY(100px);
      -ms-transform: translateY(100px);
          transform: translateY(100px);
}

.fadeInUp.active {
  opacity: 1;
  -webkit-transform: translate(0);
     -moz-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.flowCld:before {
  -webkit-transition: width 0.5s 0.5s, height 0.5s 1s;
  -moz-transition: width 0.5s 0.5s, height 0.5s 1s;
  transition: width 0.5s 0.5s, height 0.5s 1s;
  width: 0;
  height: 0;
}

.flowCld:after {
  -webkit-transition: width 0.5s 0.5s, height 0.5s 1s;
  -moz-transition: width 0.5s 0.5s, height 0.5s 1s;
  transition: width 0.5s 0.5s, height 0.5s 1s;
  width: 0;
  height: 0;
}

.flowCld.active:before {
  width: 100%;
  height: 100%;
}

.flowCld.active:after {
  width: 100%;
  height: 100%;
}

.delay_03 {
  transition-property: opacity,transform,-webkit-transform;
  -webkit-transition-duration: 1s;
     -moz-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease;
     -moz-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0.3s;
     -moz-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.delay_06 {
  transition-property: opacity,transform,-webkit-transform;
  -webkit-transition-duration: 1s;
     -moz-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease;
     -moz-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0.6s;
     -moz-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.delay_09 {
  transition-property: opacity,transform,-webkit-transform;
  -webkit-transition-duration: 1s;
     -moz-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease;
     -moz-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0.9s;
     -moz-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.delay_12 {
  transition-property: opacity,transform,-webkit-transform;
  -webkit-transition-duration: 1s;
     -moz-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease;
     -moz-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 1.2s;
     -moz-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.delay_15 {
  transition-property: opacity,transform,-webkit-transform;
  -webkit-transition-duration: 1s;
     -moz-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease;
     -moz-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 1.5s;
     -moz-transition-delay: 1.5s;
          transition-delay: 1.5s;
}
