@media screen and (min-width: 769px), print {
  .ttl {
    background: url("../images/banner.jpg") no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    position: relative;
  }
  .work {
    background-color: #f6f2e6;
  }
  .work .ttl02 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.8rem;
    background-color: #68311c;
    color: #fff;
    font-weight: bold;
    padding: 20px 31px 16px;
    margin-bottom: 39px;
  }
  .work .ttl02 small {
    font-size: 2rem;
    margin-left: 30px;
  }
  .work .ttl03 {
    font-size: 2rem;
    font-weight: bold;
    background-color: #d6c9a7;
    display: inline-block;
    margin-top: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 31px;
    padding-right: 19px;
    margin-bottom: 14px;
  }
  .work .ttl04 {
    font-size: 2rem;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    background-color: #d6c9a7;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    margin-bottom: 22px;
  }
  .work .txt_lg {
    font-size: 2.8rem;
    margin-bottom: 20px;
  }
  .work .tac {
    margin-top: 4px;
    margin-bottom: 12px;
    text-align: center;
  }
  .work .sec {
    position: relative;
    z-index: 2;
    font-size: 1.4rem;
    line-height: 24px;
    color: #000;
    font-weight: 500;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .work .sec:nth-of-type(1) {
    padding-top: 106px;
  }
  .work .sec:last-child {
    padding-bottom: 156px;
  }
  .work .sec.even .row::after {
    left: -80px;
    width: 300%;
  }
  .work .sec figure {
    text-align: center;
  }
  .work .sec figure img {
    max-width: 100%;
    height: auto;
  }
  .work .sec .row {
    position: relative;
  }
  .work .sec .row::after {
    content: "";
    position: absolute;
    top: 30px;
    right: -80px;
    width: 300%;
    height: -webkit-calc(100% - 30px + 40px);
    height: -moz-calc(100% - 30px + 40px);
    height: calc(100% - 30px + 40px);
    background: #f1ecde;
    display: block;
    z-index: -1;
  }
  .work .sec_block01 p:nth-of-type(1) {
    margin-bottom: 24px;
  }
  .work .sec_block01 p:nth-of-type(2) {
    margin-bottom: 32px;
  }
  .work .sec_block02_fa {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .work .sec_block02_fa .before {
    width: 320px;
  }
  .work .sec_block02_fa .before_txt {
    background-color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 18px 10px 13px 19px;
    margin-bottom: 21px;
    min-height: 214px;
  }
  .work .sec_block02_fa .before_txt > span {
    font-weight: bold;
    font-size: 1.4rem;
    display: inline-block;
    margin-bottom: 9px;
  }
  .work .sec_block02_fa .before_txt p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px;
  }
  .work .sec_block02_fa .before_txt p span:nth-of-type(1) {
    width: 80px;
    min-height: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #dbdbdb;
    -moz-border-radius: 4px;
         border-radius: 4px;
    font-weight: bold;
  }
  .work .sec_block02_fa .before_txt p span:nth-of-type(2) {
    width: -webkit-calc(100% - 80px);
    width: -moz-calc(100% - 80px);
    width: calc(100% - 80px);
    padding-left: 19px;
  }
  .work .sec_block02_fa .before figure {
    width: 100%;
    height: 215px;
    position: relative;
  }
  .work .sec_block02_fa .before figure::after {
    content: "";
    position: absolute;
    top: 104px;
    right: -48px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 26px solid #ca391b;
  }
  .work .sec_block02_fa .before figure figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    background-color: #000;
  }
  .work .sec_block02_fa .before figure img {
    width: 100%;
    height: 100%;
  }
  .work .sec_block02_fa .after {
    width: -webkit-calc(100% - 320px);
    width: -moz-calc(100% - 320px);
    width: calc(100% - 320px);
    padding-left: 70px;
  }
  .work .sec_block02_fa .after figure {
    width: 610;
    height: 450px;
    position: relative;
  }
  .work .sec_block02_fa .after figure figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.4rem;
    color: #000;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    background-color: #fff100;
  }
  .work .sec_block02_fa .after figure img {
    width: 100%;
    height: 100%;
  }
  .work .sec_block02_listimg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  .work .sec_block02_listimg figure {
    width: 490px;
    height: 370px;
    margin-top: 20px;
  }
  .work .sec_block02_listimg figure img {
    width: 100%;
    height: 100%;
  }
  .work .sec_block03 {
    background-color: #d6c9a7;
    padding: 27px 28px 41px 29px;
  }
  .work .sec_block03_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .work .sec_block03_inner figure {
    width: 170px;
    height: 170px;
  }
  .work .sec_block03_inner figure img {
    width: 100%;
    height: 100%;
  }
  .work .sec_block03_inner .txt {
    width: -webkit-calc(100% - 170px - 32px);
    width: -moz-calc(100% - 170px - 32px);
    width: calc(100% - 170px - 32px);
    background-color: #e1dbcb;
    padding: 41px 20px 0 38px;
  }
  .work .sec_block03_inner .txt h5 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 13px;
  }
  .work .sec_block03_inner .txt p {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .ttl {
    background: url("../images/banner.jpg") no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    position: relative;
  }
  .work {
    background-color: #f6f2e6;
  }
  .work .ttl02 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    font-size: 5.6vw;
    background-color: #68311c;
    color: #fff;
    font-weight: bold;
    padding: 2.66667vw;
    margin-bottom: 5.2vw;
  }
  .work .ttl02 small {
    font-size: 4vw;
    padding-left: 2.66667vw;
    display: block;
  }
  .work .ttl02 small.pl0 {
    padding-left: 0;
  }
  .work .ttl03 {
    font-size: 4vw;
    font-weight: bold;
    background-color: #d6c9a7;
    display: inline-block;
    margin-top: 1.73333vw;
    padding: 1.33333vw;
    margin-bottom: 1.86667vw;
  }
  .work .ttl04 {
    font-size: 4vw;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    background-color: #d6c9a7;
    padding: 1.33333vw;
    margin-bottom: 2.93333vw;
  }
  .work .txt_lg {
    font-size: 5.6vw;
    margin-bottom: 2.66667vw;
  }
  .work .tac {
    margin-top: 0.53333vw;
    margin-bottom: 1.6vw;
    text-align: center;
  }
  .work .sec {
    position: relative;
    z-index: 2;
    font-size: 3.36vw;
    color: #000;
    font-weight: 500;
    padding-top: 5.33333vw;
    padding-bottom: 5.33333vw;
  }
  .work .sec:nth-of-type(1) {
    padding-top: 20vw;
  }
  .work .sec:last-child {
    padding-bottom: 20.8vw;
  }
  .work .sec figure {
    text-align: center;
  }
  .work .sec figure img {
    max-width: 100%;
    height: auto;
  }
  .work .sec_block01 p {
    margin-bottom: 4vw;
  }
  .work .sec_block02_fa .before {
    padding-bottom: 13.33333vw;
    position: relative;
  }
  .work .sec_block02_fa .before::after {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 3.33333vw;
    width: 0;
    height: 0;
    border-left: 5.33333vw solid transparent;
    border-right: 5.33333vw solid transparent;
    border-top: 6.93333vw solid #ca391b;
  }
  .work .sec_block02_fa .before_txt {
    background-color: #fff;
    font-size: 2.8vw;
    font-weight: 500;
    padding: 2vw;
    margin-bottom: 2.8vw;
  }
  .work .sec_block02_fa .before_txt > span {
    font-weight: bold;
    font-size: 2.8vw;
    display: inline-block;
    margin-bottom: 1.2vw;
  }
  .work .sec_block02_fa .before_txt p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.33333vw;
  }
  .work .sec_block02_fa .before_txt p span:nth-of-type(1) {
    width: 16vw;
    min-height: 4.66667vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #dbdbdb;
    -moz-border-radius: 0.53333vw;
         border-radius: 0.53333vw;
    font-weight: bold;
  }
  .work .sec_block02_fa .before_txt p span:nth-of-type(2) {
    width: -webkit-calc(100% - 16vw);
    width: -moz-calc(100% - 16vw);
    width: calc(100% - 16vw);
    padding-left: 2.66667vw;
  }
  .work .sec_block02_fa .before figure {
    width: 100%;
    position: relative;
  }
  .work .sec_block02_fa .before figure figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 26.66667vw;
    height: 9.33333vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3.2vw;
    color: #fff;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    background-color: #000;
    letter-spacing: 0.53333vw;
  }
  .work .sec_block02_fa .before figure img {
    width: 100%;
    height: auto;
    display: block;
  }
  .work .sec_block02_fa .after figure {
    position: relative;
  }
  .work .sec_block02_fa .after figure figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 26.66667vw;
    height: 9.33333vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3.2vw;
    color: #000;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    background-color: #fff100;
    letter-spacing: 0.53333vw;
  }
  .work .sec_block02_fa .after figure img {
    width: 100%;
    height: auto;
    display: block;
  }
  .work .sec_block02_listimg {
    margin-bottom: 2.66667vw;
  }
  .work .sec_block02_listimg figure {
    margin-top: 2.66667vw;
  }
  .work .sec_block02_listimg figure img {
    width: 100%;
    height: auto;
    display: block;
  }
  .work .sec_block03 {
    background-color: #d6c9a7;
    padding: 2vw;
  }
  .work .sec_block03_inner figure {
    text-align: center;
    margin-bottom: 2vw;
  }
  .work .sec_block03_inner figure img {
    width: 170px;
    height: 170px;
  }
  .work .sec_block03_inner .txt {
    background-color: #e1dbcb;
    padding: 2vw;
  }
  .work .sec_block03_inner .txt h5 {
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 1.73333vw;
  }
  .work .sec_block03_inner .txt p {
    margin-bottom: 2.66667vw;
  }
}

.work .sec_block02_3_listimg {
	 display:flex;
	 flex-wrap:wrap;
	 margin-bottom:15px;
}
.work .sec_block02_3_listimg figure {
	width:33.33%;
  padding-right:20px
}
.work .sec_block02_3_listimg figure:nth-child(3n){
  padding-right:0;
}
 .work .sec_block02_3_listimg img {
	 width:100%;
	 height:auto;
}
@media screen and (max-width: 768px) {
	.work .sec_block02_3_listimg figure {
		width:100%;
		padding-right:0
	}
}